target/
*.class
*.ear
*.logs
*.iml
test.properties
vault.properties

# Mac Files
.DS_Store

#IntelliJ
.idea/

#Eclipse
.eclipse
.settings/
.project/
.settings
.project

# Log file
*.log
/src/test/resources/input_files/*.txt
/src/test/resources/output_files/*.*

#Docker
/Docker

#Gitlab
.gitlab-ci.yml